<launch>
    <node pkg="move_base" type="move_base" respawn="true" name="move_base"
        clear_params="true"
        output="screen">
        <rosparam file="$(find multi_agv_sim)/param/center_nav/costmap_common_params.yaml"
            command="load"
            ns="global_costmap" />
        <rosparam file="$(find multi_agv_sim)/param/center_nav/costmap_common_params.yaml"
            command="load"
            ns="local_costmap" />
        <rosparam file="$(find multi_agv_sim)/param/center_nav/local_costmap_params.yaml"
            command="load" />
        <rosparam file="$(find multi_agv_sim)/param/center_nav/global_costmap_params.yaml"
            command="load" />
        <rosparam file="$(find multi_agv_sim)/param/center_nav/base_local_planner_params.yaml"
            command="load" />
        <rosparam file="$(find multi_agv_sim)/param/center_nav/move_base_params.yaml" command="load" />
        <remap from="move_base_simple/goal" to="/move_base_simple/center_goal" />
        <!-- 将内部发布的cmd_vel转化为agv_ass/cmd_vel发出-->
        <remap from="cmd_vel" to="/agv_ass/cmd_vel" />
        <!-- 切换各个信息节点到0号agv，切换滤波话题 -->
        <!-- <remap from="map" to="agv_0/map" />
        <remap from="odom" to="agv_0/odom" />
        <remap from="scan" to="agv_0/scan" /> -->
        <!-- odom如果使用滤波后的地图数据的会导致movebase崩溃，agv会获取-nan，-nan nan的速度，不知道为啥 -->
        <!-- malgb是global_frame没改，应该改成filtered_map -->
        <!-- <remap from="/map" to="ass/map" /> -->
        <!-- <remap from="/odom" to="/agv_0/odom" /> -->
        <!-- <remap from="/scan" to="/ass/scan" /> -->
        <!-- 修改前缀，需要这样修改-->
        <!-- 一定要注意话题和fram的区别，话题需要加前缀，fram写实际的就可以了（这个是tf -->
        <param name="global_costmap/scan/sensor_frame" value="agv_ass/scan" />
        <!-- 设置静态地图层插件提供者的话题节点 -->
        <!-- <param name="global_costmap/static_layer/map_topic" value="map" /> -->
        <!-- 设置雷达障碍物层插件订阅的scan节点因为在命名空间下，所以使用斜刚，但是也可以不用，直接写scan -->
        <!-- <param name="global_costmap/obstacle_layer/scan" value="scan" /> -->
        <!-- 设置雷达障碍物层插件link -->
        <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="agv_0/rader_link" />
        <param name="global_costmap/global_frame" value="agv_ass/map" />
        <param name="global_costmap/robot_base_frame" value="agv_ass/base_link" />
        <param name="local_costmap/scan/sensor_frame" value="agv_ass/scan" />
        <!-- 设置雷达障碍物层插件订阅的scan节点因为在命名空间下，所以使用斜刚，但是也可以不用，直接写scan -->
        <!-- <param name="local_costmap/obstacle_layer/scan" value="scan" /> -->
        <!-- 设置雷达障碍物层插件link -->
        <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="agv_0/rader_link" />
        <param name="local_costmap/global_frame" value="agv_0/odom" />
        <param name="local_costmap/robot_base_frame" value="agv_ass/base_link" />
    </node>
</launch>