<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find carmodel)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find carmodel)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find carmodel)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find carmodel)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find carmodel)/param/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find carmodel)/param/move_base_params.yaml" command="load" />
    </node>
</launch>
