<launch>
  <!-- 雷达发布节点-->
  <include file="$(find rplidar_ros)/launch/my_rplidar.launch" >
    <arg name="port" value="ttyUSB1"/>
  </include>
  <!-- imu发布节点-->
  <include file="$(find wit_ros_imu)/launch/my_imu.launch">
    <arg name="port" value="ttyUSB2"/>
  </include>
  <include file="$(find robot_pose_ekf)/launch/my_pose_ekf.launch">
  </include>
  <node pkg="serial_demo" type="serial_demo" output="screen" name="STM32serialNode">
    <param name="serial_port" type="string" value="/dev/ttyUSB0" />
    <param name="serial_baudrate" type="int" value="38400" />
  </node>
  <include file="$(find carmodel)/launch/rviz.launch"/>
</launch>