<launch>

    <!-- carto建图节点-->
    <!-- <include file="$(find cartographer_ros)/launch/my_carto_local.launch">
      <arg name="load_state_filename" value="/home/zty/Downloads/maps/mymap.pbstream"></arg>
    </include> -->
    <include file="$(find cartographer_ros)/launch/my_carto.launch">
     
    </include>
    <include file="$(find my_assamble_pkg)/launch/my_navigation.launch"></include>
    <include file="$(find my_assamble_pkg)/launch/rviz.launch"/>
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_assamble_pkg)/maps/mymap.pgm"/> -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find carmodel)/world/box_house.world" />
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model my_car -param robot_description"  />
  </launch>